@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Poppins', sans-serif;
}

@layer base {
  :root {
    --primary-cyan: 180 66% 49%;
    --primary-dark-violet: 257 27% 26%;
    --secondary-red: 0 87% 67%;
    --neutral-gray: 0 0% 75%;
    --neutral-grayfish-violet: 257 7% 63%;
    --neutral-very-dark-blue: 255 11% 22%;
    --neutral-very-dark-violet: 260 8% 14%;
  }
}

@layer components {
  .hamburger-icon {
    @apply w-7 h-6 flex flex-col justify-between lg:hidden;
  }

  .hamburger-icon span {
    @apply h-[4px] w-full block bg-neutral-grayfish-violet;
  }

  .primary-button {
    @apply bg-primary-cyan text-white rounded-3xl px-8 py-3 font-bold;
  }

  .section-padding {
    @apply px-7 lg:px-24;
  }
}

/* Track section */
.track article:nth-child(1) {
  @apply self-start;
}

.track article:nth-child(2) {
  @apply self-center;
}

.track article:nth-child(3) {
  @apply self-end;
}

/* Footer section */
.footer-section h2 {
  @apply text-lg font-bold mb-2;
}

.footer-section ul li {
  @apply my-3 text-sm text-neutral-gray;
}
